<ion-view title="currency" class="fullIon">
  <div class="bar bar-loading bar-assertive loadingBar" ng-if="data.isLoading">
    <div class="title">Loading....</div>
  </div>
  <ion-content class="currList">
    <div class="list currencyList col-80 col-offset-10">
      <label class="item item-input item-floating-label" data-ng-repeat="item in currencyData" data-ng-click="clicked(item)">
        <input type="tel" value="{{item.forApp}}" ng-model="item.forApp" ng-change="changeCurrency(item)"><p class="longNameText">{{item.longName}}</p>
      </label>
    </div>
  </ion-content>
</ion-view>
